<h4 class="text-center">Edit Report Page</h4>
	<section class="text-center col-xs-12">
	<h4><%= @year + "年-第" + @week + "週("  + @start_day.strftime('%m月%d日') + "-" + @end_day.strftime('%m月%d日') + ")" %></h4>
	</section>
<%= render 'form' %>

